body {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: 9000;
  color: white;
  text-align: center;
  font-size: 4em;
}

.greenBackground {
  background-color: rgba(13, 44, 0, 0.925);
}

.lightGrayBackground {
  background-color: rgba(202, 199, 199, 0.815);
}

.shadow{
 /*Got this shadow config from: https://www.w3schools.com/css/css3_shadows_box.asp*/
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventCard{
  background-color: white;
  width: 70vw;
}

.carinthianFontColor {
  color: transparent;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Flag_of_Carinthia.svg/320px-Flag_of_Carinthia.svg.png");
  background-size: contain;
  background-clip: text;
}
